<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand"><a ng-href="#/">Acolyte</a></h3>
    <div class="masthead-loader" ng-show="loading" ng-include="'partials/_spinner.html'"></div>
    <nav>
      <ul class="nav masthead-nav" ng-cloak>
        <li ng-hide="user">
          <a ng-href="#/login">Login</a>
        </li>
        <li ng-show="user">
          <a ng-href="#/dashboard">{{ user.name }}</a>
        </li>
        <li ng-show="user && !status">
          <a class="nav-join" ng-click="joinChannel()" title="Join Channel"><span class="glyphicon glyphicon-flash"></span></a>
        </li>
        <li ng-show="user && status">
          <a class="nav-part" ng-click="leaveChannel()" title="Leave Channel"><span class="glyphicon glyphicon-flash"></span></a>
        </li>
        <li ng-show="user">
          <a ng-href="#/logout" title="Logout"><span class="glyphicon glyphicon-off"></span></a>
        </li>
      </ul>
    </nav>
  </div>
</div>
