<div class="index">
  <span class="acolyte-icon">A</span>
  <p class="acolyte-mission">Your personal <a href="http://twitch.tv" target="_blank" rel="nofollow">Twitch</a> assistant</p>
  <p class="lead">Acolyte is a chat bot for Twitch that focuses on knowledge. He can look up things for you, answer your questions and much more.</p>
  <div class="row">
    <div class="acolyte-feature col-md-4">
      <h4>Easy setup</h4>
      <p>You can use your existing Twitch account to authenticate with Acolyte. Once you have logged in you are one click away from having Acolyte joining your channel.</p>
    </div>
    <div class="acolyte-feature col-md-4">
      <h4>User friendly</h4>
      <p>Acolyte was designed to provide the best possbile user experience. He is extremely easy to use and there is absolutely no hassle when communicating with him.</p>
    </div>
    <div class="acolyte-feature col-md-4">
      <h4>Customizable</h4>
      <p>Enabling and disabling features in Acolyte can be done directly in your settings. We made these controls easily available so that you can change them whenever you feel like it.</p>
    </div>
  </div>
</div>
