// --- Global ---

html {
  height: 100%;
}

body {
  min-height: 100%;
}

// --- Layout ---

.main {
  padding-top: 80px;
}

.index-ctrl {
  text-align: center;
}

.auth-ctrl {
  text-align: center;
}
